.facts-page {
    background-image: url('https://cdna.artstation.com/p/assets/images/images/006/058/656/large/prompiriya-kengz-88888fn.jpg?1495725634');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}