.images-page {
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #d2b48c, #808080);
    background-attachment: fixed;
}

.random-cat-btn {
    padding: 10px 20px; 
    background-color: #f5f5dcae; 
    color: black; 
    border-radius: 5px; 
    font-size: 25px;
    cursor: pointer; 
    margin-top: 10px; 
}

.images-page h1 {
    font-size: 3em;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    color: black;
    margin-bottom: 0px;
    text-align: center;
  }

  .images-page h1:hover {
    color: rgb(122, 122, 122);
  }

  .images-page p {
    font-size: 2em;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    color: rgba(30, 30, 30, 0.59);
    text-align: center;
  }