.list-of-breeds-page {
    background-image: linear-gradient(rgba(255, 255, 255, 0.552), rgba(255, 255, 255, 0.771)), url('https://cdn.i-scmp.com/sites/default/files/d8/images/canvas/2021/06/24/65b32749-81c3-4ba5-b735-d349eb1f135e_3ba91999.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.list-of-breeds-page h1 {
    text-align: center;
    color: #004d00;
    font-size: 5em;
    transition: color 0.3s ease;
}

.list-of-breeds-page h1:hover {
    color: #00cc00; 
}


.intro-text {
    text-align: center;
    color: #582c0c; 
    font-size: 3em; 
    transition: color 0.3s ease; 
}

.intro-text:hover {
    color: #c58a6e; 
}